<section id="contact" class="content-section bg-primary text-white">
    <div class="container text-center">
      <h2 class="mb-4">Hvis du har spørgsmål eller ønsker at vide mere om mine produkter, så kontakt mig gerne på mail eller telefon.
          Skulle jeg ikke være ved telefonen, så læg en besked og jeg ringer tilbage til dig.
          Jeg hjælper dig gerne!
        </h2>
      <a href="tel:+4532521420" class="btn btn-xl btn-light mr-4">Ring 3252 1420</a>
      <a href="mailto:joan@vegatest.dk" class="btn btn-xl btn-dark">Skriv til mig</a>
    </div>
  </section>

  <!-- Map -->
  <section class="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2251.5068416171516!2d12.611410315926397!3d55.64539298052474!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xab9d2c13f175fbec!2sDanplus+ApS!5e0!3m2!1sda!2sdk!4v1533214561957" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
    <!-- <small>
      <a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;aq=0&amp;oq=twitter&amp;sll=28.659344,-81.187888&amp;sspn=0.128789,0.264187&amp;ie=UTF8&amp;hq=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;t=m&amp;z=15&amp;iwloc=A"></a>
    </small> -->
  </section>
