:host {
  display: block;
}

app-tilbud-slide {
  width: auto;
  /*height: 250px;

   div {
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
  } */
}

#accordion{
  color: white;

  a{
    color: white;
    font-size: 1.3rem;
    text-decoration: none;
  }
  ul{
    list-style-type: none;
  }
}

