

<!-- Header -->
<header class="masthead d-flex">
  <div class="container text-center my-auto">
    <h1 class="mb-1">Danplus ApS</h1>
    <h3 class="mb-5">
      <em>Velkommen til!</em>
    </h3>
    <a class="btn btn-success btn-xl js-scroll-trigger" href="#contact">Kontakt</a>
  </div>
  <div class="overlay"></div>
</header>
<!-- About -->
<section class="content-section bg-light" id="about">
  <div class="container text-center">
    <div class="row">
      <div class="col-lg-10 mx-auto">
        <h2>Behandling på baggrund af erfaring</h2>
        <p class="lead mb-5">
          Danplus ApS har eksisteret siden 1979 og ledes i dag af Joan Lykke.
          Danplus ApS har arbejdet med Vegatest apparater siden 1980, og der igennem stået bag konceptet for certificering af Vegatest uddannelsen i dens oprindelige form.
          På nuværende tidspunkt er der cirka 25 certificerede Vegatestere i Danmark.
          I forbindelse med de erfaringer Danplus ApS har opbygget gennem brugen af Vegatest Expert, har firmaet været med til at udvikle Plusprogrammet,
          som er homøopatisk medicin, der bygger på resonansterapi.
        </p>
        <p class="lead mb-5">Kan jeg hjælpe dig med spørgsmål eller har du kommentarer, så kontakt mig på telefon 3252 1420 eller mail <a href="mailto:joan@vegatest.dk">joan@vegatest.dk</a>!</p>
          <!-- <p class="lead mb-5">Se listen over andre certificerede vegatestere i Danmark.</p> -->
        <a class="btn btn-dark btn-xl js-scroll-trigger" target="blank" href="https://www.google.com/maps/d/u/1/edit?mid=1CFBdunMnfoKT419K7cea6YbK8IU&ll=55.45221183789465%2C11.252497054687524&z=8">Andre vegatestere</a>
      </div>
    </div>
  </div>
</section>

<!-- Services -->
<app-tilbud></app-tilbud>

<!--Portfolio -->
<app-news></app-news>

<!-- Call to Action -->
<app-kontakt></app-kontakt>

<!-- Footer -->
<footer class="footer text-center">
  <div class="container">
    <p class="text-muted small mb-0">Copyright &copy; Danplus ApS 2018</p>
  </div>
</footer>

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded js-scroll-trigger" href="#page-top">
  <i class="fa fa-angle-up"></i>
</a>



